<head>
    <link rel="stylesheet" href="style.css">
    <script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>todo<span>list</span></h1>
        <h2>Let's get there.</h2>
    </header>

    <section class="form">
        <input type="text" id="todoInput" placeholder="What needs doing?">
    </section>

    <ul class="list"></ul>

    <script src="app.js"></script>
</body>
